header {
    height: 90px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px; 
    color: rgb(0, 0, 0);
    background-image: linear-gradient(red, orange)
}

.DiceButtons {

    width: auto;
    height: auto;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-image: linear-gradient(orange, yellow)
}

.D6 {
    background-color: rgb(73, 126, 240);
    border-color: rgb(43, 7, 46);
}

.D10 {
    background-color: rgb(73, 126, 240);
    border-color: rgb(43, 7, 46);
}

.TestB {
    background-color: rgb(171, 54, 238);
    border-color: rgb(43, 7, 46);
}

#rollResult {
    height: 30px;
    width: 20px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center
}